img {
    width: 20%;
    height: 20%;
}

#loggedInAs{
	color:#000000;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}